body{
    font-size: 20px;
    font-family: "sans-serif";
}
#container{
    margin: 20px 40px;
    background-color: white;
}

#highScoreHeader{
    font-size: 1em;
    font-style: "sans-serif";
    Color: #778897;
    font-weight: normal;
    padding: 0 20px;
    cursor: pointer;
}
#startHeader{
    font-size: 1.5em;
    font-weight: Bold;
    padding: 0 20px;
}
#startText{
    font-size: .5cm;
    font-weight: normal;
    padding: 20px;
}
.quizBtn{
    font-size: small;
    font-weight: bold;
    width: auto;
    height: 40px;
    Color: white;
    background-color:#778897;
    border-radius: 10px;
    cursor: pointer;
}
#startBtn:hover{
    border: 3px solid #778897;
    background-color: white;
    color :#778897;
}

#question{
    width:500px;
    font-weight: bold;
    height : 125px;
    top:0;
}
.choices{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choice{
    background-color: #778897;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}
/* Quiz timer */
#timer{
    float: right;
    height : 100px;
    width : 200px;
    text-align: center;
}
#counter{
    font-size: 1.5em;
}
#btimeGauge{
    width: auto;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: blue;
    margin-top : -10px;
    margin-left : 25px;
}

#progress{
    margin-top: 5px;
    padding: 5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#lastQuestGrade{
    color: gray;
    padding-left: 10px;
    font-size: large;
    font-style: "sans-serif";
    text-align: center;
    text-align: left;
}

#scoreContainer p{
    font-size: 1.5em;
    font-weight: bold;
    width: 400px;
    margin: auto;
    text-align: center;
}
#scoreHeader{
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 20px;
}

#highScorListeHeader{
    font-size: 1em;
    font-style: "sans-serif";
    Color: #778897;
    font-weight: normal;
    padding: 0 20px;
}    

#highScoreList{
    font-size: 1em;
    font-style: "sans-serif";
    height: 30px;
    Color: black;
    background-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
    font-weight: normal;
    text-align: justify;
    margin: 5px;
}    